* {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}

.facility-title {
  font-size: 2rem;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
}

.facility-type {
  margin-left: 1rem;
}

.facility-map {
  margin-left: 1rem;
}