.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  background-color: #031563;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  height: auto;
}

.template-div {
  width: 1400px;
  height: 600px;
  border-radius: 8px;
  display: flex;
}

.main {
  flex-basis: 85%;
  border-radius: 0 8px 8px 0;
  display: flex;
  flex-direction: column;
}

.navbar-container{
  width: 1400px;
}

.home {
  min-height: 800px;
  width: 1400px;
  margin: 3rem 0;
  border-radius: 8px;
  padding: 2rem;
}
